@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --light_pink: #ff6cd7;
    --dark_pink: #ff00b9;
    --purple_p: #8e00ff;
    --white_p: #f8f4fb;
    --black_p: #000000;
    --black_p_75: #00000075;
}

body {
    scroll-behavior: smooth;
}

.not-serif-light {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.not-serif-regular {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.not-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}



.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.menu--item {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0 12px;
    border-bottom: 4px solid transparent;
    transition: all ease-in-out 0.3s;
}

.menu--item:hover {
    border-bottom: 4px solid var(--light_pink);
    transition: all ease-in-out 0.3s;
}

.hidden--menu {
    transform: translateY(-150%);
}

textarea {
    resize: none;
}

.bg--gradient-pink {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 48%, rgba(137, 0, 100, 1) 100%, rgba(255, 0, 185, 1) 100%);
}

.bg--pattern {
    background-image: url('../../public/img/bg.jpg');
}

.splide__arrow.splide__arrow--prev {
    display: none;
}

.splide__arrow.splide__arrow--next {
    display: none;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px 32px;
    transition: all ease-in-out 0.3s;
    border-radius: 8px;
}

.btn--primary {
    border: 2px solid var(--purple_p);
    background-color: var(--purple_p);
    color: var(--white_p);
}

.btn--primary:hover {
    background-color: var(--black_p);
}

.btn--secondary {
    border: 2px solid var(--light_pink);
    background-color: var(--light_pink);
    color: var(--white_p);
}

.btn--secondary:hover {
    background-color: var(--dark_pink);
}

.input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px 16px;
    border: rgba(0, 0, 0, 0.2) 2px solid;
    border-radius: 8px;
    outline: none;
    transition: all ease-in-out 0.3s;
    width: 100%;
}

.input:focus {
    border: var(--light_pink) 2px solid;
    transition: all ease-in-out 0.3s;
}

/* From Uiverse.io by mrhyddenn */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--light_pink);
    border: 1px solid transparent;
}

input:checked+.slider:before {
    transform: translateX(1.5em);
}

.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus+label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}